h2{
 color:#003580;
}
#s1{
  font-size:14px;
  color:#000033;
}
.a1{
 color:#f00;
 }
 .a2{
 color:#1f87cc;
 }
 .a3{
 color:#aa53b;
 }
 .a4{
 color:#0d7114;
 }
 .a5{
 color:#aa53b;
 }
 .photo1{
 width:100px;
 height:160px;
 }
  .photo2{
   width:200px;
   height:130px;
 }
 
 .